* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #333;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #quote-box {
    background-color: white;
    border-radius: 3px;
    width: 450px;
    box-shadow: 0px -2px 50px white, 0px 2px 10px #333;
    position: relative;
    padding: 40px 50px;
    display: table;
    #quote-text {
      i {
        font-size: 1em;
        margin-right: 0.4em;
      }
      font-weight: 500;
      font-size: 1.75em;
      width: 450px;
      height: auto;
      clear: both;
      text-align: center;
    }
    #quote-author {
      width: 450px;
      height: auto;
      clear: both;
      text-align: right;
      padding-top: 20px;
      font-size: 1em;
    }
    #buttons {
      width: 450px;
      margin: auto;
      display: block;
      .button {
        height: 38px;
        border-radius: 3px;
        border: none;
        color: white;
        background-color: #333;
        outline: none;
        font-size: 0.85em;
        padding: 8px 18px 8px 18px;
        margin-top: 30px;
        opacity: 1;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
        &#tweet-quote {
          float: left;
          padding: 0;
          padding-top: 8px;
          text-align: center;
          font-size: 1.2em;
          margin-right: 5px;
          height: 30px;
          width: 40px;
        }
        &#jedi-order {
          float: left;
          text-decoration: none;
          padding: 0;
          padding-top: 8px;
          margin-right: 5px;
          font-size: 1.2em;
          height: 30px;
          width: 40px;
          text-align: center;
        }
        &#new-quote {
          float: right;
        }
      }
    }
  }
  
  @media only screen and (max-width: 750px) {
    #quote-box {
      width: 250px;
      #quote-text {
        width: 250px;
      }
      #quote-author {
        width: 250px;
      }
      #buttons {
        width: 250px;
      }
    }
  }